# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

collections:
  frontPage:
    output: true
    permalink: /frontPage/:path/
  
  location:
    output: true
    permalink: /location/:path/

  pages:
    output: true
    permalink: /location/:path/

title: Central Ohio Java Users Group (COJUG)
description: >
  COJUG (Central Ohio Java Users Group) is a group for anyone interested in discussing Java technology, JVM languages, frameworks and libraries in the Java space.
  COJUG provides a meeting place for Java users to get information, share resources and solutions, increase networking, expand Java Technology expertise, and above all, eat pizza and have fun.  
  COJUG meets on the second Tuesday of every month to discuss anything java.
baseurl: "" 
url: "localhost:4000" 
permalink: pretty

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-archives

jekyll-archives:
  enabled: 
    -year
  layout: 'archive'
  permalinks:
    year: '/:year/'

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
