---
breadcrumb: Recommended Books
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
<div align="center"><div style="width:901px;">

 {% include header.html %}

 {% include nav-breadcrumbs.html %}


<table width="100%"  border="0" cellspacing="8" cellpadding="0">
  <tr>
    <td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
      <tr valign="top">
        <td width="160">	
        	        {% include side_nav.html %}

				
		</td>        <td><div align="center"></div>	      <table class="contentpaneopen">
      <tr>
                <td class="contentheading" width="100%">
          Recommended Books                  </td>
              
      				<td align="right" width="100%" class="buttonheading">
					
				</td>
				      </tr>
      </table>
      
    <table class="contentpaneopen">
        <tr>
      <td valign="top" colspan="2">
        <h3>Local Authors</h3>     

        <table border="0">
        	<tbody><tr><td><a href="https://www.amazon.com/Beginning-Groovy-Grails-Griffon-Christopher/dp/1430248068?tag=wwwjuddsoluti-20"><img src="{{site.url}}\assets\images\modedBooks\groovyAndGrails.jpg" alt="Beginning Groovy and Grails" title="Beginning Groovy and Grails"/></a> </td>

        	<td>
        		<a href="https://www.amazon.com/Flex-Java-BJ-Allmon/dp/1933988797/ref=sr_1_4?s=books&ie=UTF8&qid=1503676232&sr=1-4&keywords=java+flex?tag=wwwjuddsoluti-20"><img src="{{site.url}}\assets\images\modedBooks\FlexOnJava.jpg" alt="Flex on Java"/></a>

        		  <br /></td>

        	<td align="center"><a href="http://www.amazon.com/dp/1590595963?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595963&amp;adid=0NS2MKH846N47NNF1FDB&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" alt="Beginning POJOs" /></a>  <br /></td>


        	<td align="center">&nbsp;<a href="http://www.amazon.com/dp/1590597923?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590597923&amp;adid=05Y3TEJZNCXPHJ5F3K57&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\JBoss_Seam.jpg"  /></a> </td>

        	<td align="center"><div style="text-align: center"><a href="http://www.amazon.com/dp/1590595564?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595564&amp;adid=0PWRET34RK43EP91K24K&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\Java_Robots.jpg" alt="Defininitive Guide to Building Java Robots"  /></a> </div></td></tr>



        		<tr><td><p>Christopher M. Judd<br />Joseph Nusairat<br />James Shingler</p></td><td>&nbsp;BJ allmon<br /></td><td align="center">&nbsp;Brian Sam-Bodden<br /></td><td align="center">Joseph Nusairat <br /></td><td align="center"><p>&nbsp;Scott Preston </p></td></tr></tbody></table>

        	<p>&nbsp;</p><h3>Java&nbsp;</h3><a href="http://www.amazon.com/gp/product/1590595963?tag=wwwjuddsoluti-20">  <img src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" alt="Beginning POJOs" /> </a>

        	<h3>Groovy</h3><p>   

        	<a href="https://www.amazon.com/Beginning-Groovy-Grails-Griffon-Christopher/dp/1430248068?tag=wwwjuddsoluti-20">  <img src="{{site.url}}\assets\images\modedBooks\groovyAndGrails.jpg" alt="Beginning Groovy and Grails"/>&nbsp;</a><a href="http://www.amazon.com/gp/product/1590595963?tag=wwwjuddsoluti-20"> </a>  

        	<a href="http://www.amazon.com/gp/product/1934356093?tag=wwwjuddsoluti-20">   <img src="{{site.url}}\assets\images\modedBooks\Programming_Groovy.jpg"/> </a> 

        	 <a href="http://www.amazon.com/gp/product/0978739299?tag=wwwjuddsoluti-20">   <img src="{{site.url}}\assets\images\modedBooks\Groovy_Recipes.jpg" alt="Groovy Recipes" /> </a>  <a href="http://www.amazon.com/gp/product/1932394842?tag=wwwjuddsoluti-20">   <img src="{{site.url}}\assets\images\modedBooks\GroovyInAction.jpg" /></a></p><h3 class="parseasinTitle"><span>Software Engineering</span></h3><p>&nbsp;<a href="http://www.amazon.com/gp/product/0201835959?tag=wwwjuddsoluti-20"><img src="{{site.url}}\assets\images\modedBooks\Mythical-man-month.jpg" alt="The Mythical Man-Month"/> </a></p> 

      </td>
    </tr>
        </table>

    <span class="article_seperator">&nbsp;</span>

    			<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[ Back ]</a>
			</div>
			</td>
        <td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">
					
			</td>
		</tr>
		</table>
				
						{% include aside_sponsor.html %}

		<br></td>      </tr>
    </table></td>
  </tr>
</table>
{% include footer.html %}

</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4170336-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>