---
breadcrumb: Recommended Books
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
  <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/book.css" />

  <div align="center"><div style="width:901px;">

   {% include header.html %}

   {% include nav-breadcrumbs.html %}


   <tr>
    <td><table style="margin-top: -12px" align="center" width="100%"  border="0" cellspacing="10" cellpadding="0">
      <tr valign="top">
        <td width="160">	
         {% include side_nav.html %}


       </td>        <td><div align="center"></div>	      <table class="contentpaneopen">
       <tr>
        <h1 width="100%"> Recommended Books </h1>

          <td align="right" width="100%" class="buttonheading">

          </td>
        </tr>
      </table>
      
      <table class="contentpaneopen">
        <tr>
          <td valign="top" colspan="2">
            <h3 class="contentheading">Local Authors</h3>     
            <table border="0">

              <br><br>
              <figure class='book'>        
                <!-- Front -->        
                <ul class='griffin hardcover_front'>
                  <img alt="Beginning Groovy and Grails From Novice to Professional" width="100%" height="100%">   
                </ul>        
                <!-- Pages -->        
                <ul class='page'>
                  <li></li>
                  <li>
                    <a class="btn" href="https://www.amazon.com/Beginning-Groovy-Grails-Griffon-Christopher/dp/1430248068?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
                  </li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>        
                <!-- Back -->        
                <ul class='hardcover_back'>
                  <li></li>
                  <li></li>
                </ul>
                <ul class='book_spine'>
                  <li></li>
                  <li></li>
                </ul>
                <figcaption>
                  <h1>Beginning Groovy and Grails From Novice to Professional</h1>
                  <span>By Visual Lakya, Christopher M. Judd, Joseph Faisal Nusairat and James Shingler</span>
                  <p>Web frameworks are playing a major role in the creation of today's most compelling web applications, because they automate many of the tedious tasks, allowing developers to instead focus on providing users with creative and powerful features.</p> <p>Java developers have been particularly fortunate in this area, having been able to take advantage of Grails, an open source framework that supercharges productivity when building Java–driven web sites.</p>
                </figcaption>
              </figure>
            </li> 
            <br><br>


            <br><br>
            <figure class='book'>        
              <!-- Front -->        
              <ul class='hardcover_front'>
                <img alt="Flex On Java" src="{{site.url}}\assets\images\modedBooks\FlexOnJava.jpg" width="100%" height="100%">   
              </ul>        
              <!-- Pages -->        
              <ul class='page'>
                <li></li>
                <li>
                  <a class="btn" href="https://www.amazon.com/Flex-Java-BJ-Allmon/dp/1933988797/ref=sr_1_4?s=books&ie=UTF8&qid=1503676232&sr=1-4&keywords=java+flex?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>        
              <!-- Back -->        
              <ul class='hardcover_back'>
                <li></li>
                <li></li>
              </ul>
              <ul class='book_spine'>
                <li></li>
                <li></li>
              </ul>
              <figcaption>
                <h2>Flex On Java</h2>
                <span>By BJ Allmon</span>
                <p>Unlike many Flex books that presume readers want to develop applications from scratch, Flex on Java is for developers in the real world-where Flex is one more technology being added to existing systems developed in Java, and where integration is the key indicator of success.</p>
              </figcaption>
            </figure>
          </li> 
          <br><br>

          <br><br>
          <figure class='book'>        
            <!-- Front -->        
            <ul class='hardcover_front'>
              <img alt="Beginning POJOs From Novice to Professional" src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" width="100%" height="100%">   
            </ul>        
            <!-- Pages -->        
            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="http://www.amazon.com/dp/1590595963?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595963&amp;adid=0NS2MKH846N47NNF1FDB&amp;"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>        
            <!-- Back -->        
            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h2>Beginning POJOs From Novice to Professional</h2>
              <span>Brain Sam-Bodden</span>
              <p>ONLY Beginning-level book that introduces major Open Source Java tools and frameworks from scratch.</p>
              <p>
                Covers the most successful and prevalent open source and some lightweight tools and frameworks, like Spring, JBoss, Hibernate, Tapestry, Ant, and more
                </p>
                <p>
                Shows how to build an enterprise application, end-to-end, integrating the different open source frameworks, including rapid enterprise Java application development</p>
              </figcaption>
            </figure>
          </li> 
          <br><br>
          <br><br>
          <figure class='book'>        
            <!-- Front -->        
            <ul class='hardcover_front'>
              <img alt="JBoss Seam" src="{{site.url}}\assets\images\modedBooks\JBoss_Seam.jpg" width="100%" height="100%">   
            </ul>        
            <!-- Pages -->        
            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="http://www.amazon.com/dp/1590597923?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590597923&amp;adid=05Y3TEJZNCXPHJ5F3K57&amp;"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>        
            <!-- Back -->        
            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h2>Beginning JBoss Seam</h2>
              <span>Joseph Nusairat</span>
              <p>JBoss Seam represents the primary counter to the hot and successful Spring Framework and perhaps even Ruby on Rails framework. The open source lightweight Java EE 5 standards based JBoss Seam framework is a part of this second wave of open source lightweight Java that’s taking place. This book aims to take advantage of this hot area. It gives an overview of Seam related JSF and EJB 3 as found in Java EE 5. It provides information on the tools to make development with Seam easier as well as a functioning in depth demo to truly learn how to use Seam.</p>
            </figcaption>
          </figure>
        </li> 
        <br><br>

        <br><br>
        <figure class='book'>        
          <!-- Front -->        
          <ul class='hardcover_front'>
            <img alt="The Definitve Guide to Building Java Robots" src="{{site.url}}\assets\images\modedBooks\Java_Robots.jpg" width="100%" height="100%">   
          </ul>        
          <!-- Pages -->        
          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="http://www.amazon.com/dp/1590595564?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595564&amp;adid=0PWRET34RK43EP91K24K&amp;"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>        
          <!-- Back -->        
          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h2>The Definitive Guide to Building Java Robots</h2>
            <span>Scott Preston</span>
            <p>The Definitive Guide to Building Java Robots is for educators, students, hobbyists, and start-ups looking to program a robot with Java.</p>
            <p>
              This book is an in-depth guide to the APIs used for programming robots ranging from microcontrollers to speech & vision.</p>
            </figcaption>
          </figure>
        </li> 
        <br><br>


 <!--        	<tbody>
          <tr><td><a class="image3d-right" href="https://www.amazon.com/Beginning-Groovy-Grails-Griffon-Christopher/dp/1430248068?tag=wwwjuddsoluti-20"><img src="{{site.url}}\assets\images\modedBooks\groovyAndGrails.jpg" alt="Beginning Groovy and Grails" title="Beginning Groovy and Grails"/></a> </td>

          <td>
            <a href="https://www.amazon.com/Flex-Java-BJ-Allmon/dp/1933988797/ref=sr_1_4?s=books&ie=UTF8&qid=1503676232&sr=1-4&keywords=java+flex?tag=wwwjuddsoluti-20"><img src="{{site.url}}\assets\images\modedBooks\FlexOnJava.jpg" alt="Flex on Java"/></a>

              <br /></td>

        	<td align="center"><a href="http://www.amazon.com/dp/1590595963?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595963&amp;adid=0NS2MKH846N47NNF1FDB&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" alt="Beginning POJOs" /></a>  <br /></td>


        	<td align="center">&nbsp;<a href="http://www.amazon.com/dp/1590597923?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590597923&amp;adid=05Y3TEJZNCXPHJ5F3K57&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\JBoss_Seam.jpg"  /></a> </td>

        	<td align="center"><div style="text-align: center"><a href="http://www.amazon.com/dp/1590595564?tag=wwwjuddsoluti-20&amp;camp=14573&amp;creative=327641&amp;linkCode=as1&amp;creativeASIN=1590595564&amp;adid=0PWRET34RK43EP91K24K&amp;" target="_blank"><img src="{{site.url}}\assets\images\modedBooks\Java_Robots.jpg" alt="Defininitive Guide to Building Java Robots"  /></a> </div></td></tr>



        		<tr><td><p>Christopher M. Judd<br />Joseph Nusairat<br />James Shingler</p></td><td>&nbsp;BJ allmon<br /></td><td align="center">&nbsp;Brian Sam-Bodden<br /></td><td align="center">Joseph Nusairat <br /></td><td align="center"><p>&nbsp;Scott Preston </p></td></tr>

          </tbody> --></table>

          <p>&nbsp;</p><h3 class="contentheading" >Java&nbsp;</h3>

          <!-- <a href="http://www.amazon.com/gp/product/1590595963?tag=wwwjuddsoluti-20">  <img src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" alt="Beginning POJOs" /> </a> -->
          <br><br>
          <figure class='book'>        
            <!-- Front -->        
            <ul class='hardcover_front'>

              <img alt="Beginning POJOs From Novice to Professional" src="{{site.url}}\assets\images\modedBooks\Beginning_POJOs.jpg" width="100%" height="100%">   
            </ul>        
            <!-- Pages -->        
            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="http://www.amazon.com/gp/product/1590595963?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>        
            <!-- Back -->        
            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h2>Beginning POJOs From Novice to Professional</h2>
              <span>Brain Sam-Bodden</span>
              <p>ONLY Beginning-level book that introduces major Open Source Java tools and frameworks from scratch.</p>
                <p>
                Covers the most successful and prevalent open source and some lightweight tools and frameworks, like Spring, JBoss, Hibernate, Tapestry, Ant, and more
                </p>
                <p>
                Shows how to build an enterprise application, end-to-end, integrating the different open source frameworks, including rapid enterprise Java application development</p>
              </figcaption>
            </figure>    
            <br>



            <h3 class="contentheading" >Groovy</h3><p>   

            <br><br>
            <figure class='book'>        
              <!-- Front -->        
              <ul class='griffin hardcover_front'>
                <img alt="Beginning Groovy, Grails and Griffon From Novice to Professional" class="griffin" width="100%" height="100%">   
              </ul>        
              <!-- Pages -->        
              <ul class='page'>
                <li></li>
                <li>
                  <a class="btn" href="https://www.amazon.com/Beginning-Groovy-Grails-Griffon-Christopher/dp/1430248068?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>        
              <!-- Back -->        
              <ul class='hardcover_back'>
                <li></li>
                <li></li>
              </ul>
              <ul class='book_spine'>
                <li></li>
                <li></li>
              </ul>
              <figcaption>
                <h2>Beginning Groovy and Grails From Novice to Professional</h2>
                <span>By Visual Lakya, Christopher M. Judd, Joseph Faisal Nusairat and Jim Shingler</span>
                of the tedious tasks, allowing developers to instead focus on providing users with creative and powerful features.</p> <p>Java developers have been particularly fortunate in this area, having been able to take advantage of Grails, an open source framework that supercharges productivity when building Java–driven web sites.</p>
              </figcaption>
            </figure>
          </li> 
          <br><br>



          <br><br>
          <figure class='book'>        
            <!-- Front -->        
            <ul class='hardcover_front'>
              <img alt="Programming Groovy" src="{{site.url}}\assets\images\modedBooks\Programming_Groovy.jpg" width="100%" height="100%">   
            </ul>        
            <!-- Pages -->        
            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="http://www.amazon.com/gp/product/1934356093?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>        
            <!-- Back -->        
            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h2>Programming Groovy</h2>
              <span>Venkat Subramaniam</span>
              <p>Groovy is one of a new breed of dynamic languages that run on the Java platform. You can use these new languages on the JVM and intermix them with your existing Java code. You can leverage your Java investments while benefiting from advanced features including true Closures, Meta Programming, the ability to create internal DSLs, and a higher level of abstraction.</p>
            </figcaption>
          </figure> 
          <br><br>

          <br><br>
          <figure class='book'>        
            <!-- Front -->        
            <ul class='hardcover_front'>
              <img alt="Groovy Recipes" src="{{site.url}}\assets\images\modedBooks\Groovy_Recipes.jpg" width="100%" height="100%">   
            </ul>        
            <!-- Pages -->        
            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="http://www.amazon.com/gp/product/0978739299?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>        
            <!-- Back -->        
            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h2>Groovy Recipes</h2>
              <span>Scott Davis</span>
              <p>Each recipe in Groovy Recipes begins with a concise code example for a quick start, followed by in-depth explanation in plain English. These recipes will get you to-to-speed in a Groovy environment quickly.
                You'll see how to speed up nearly every aspect of the development process using Groovy. Groovy makes mundane file management tasks like copying and renaming files trivial.</p>
              </figcaption>
            </figure>
            <br><br>


            <br><br>
            <figure class='book'>        
              <!-- Front -->        
              <ul class='hardcover_front'>
                <img alt="Groovy in Action" src="{{site.url}}\assets\images\modedBooks\GroovyInAction.jpg" width="100%" height="100%">   
              </ul>        
              <!-- Pages -->        
              <ul class='page'>
                <li></li>
                <li>
                  <a class="btn" href="http://www.amazon.com/gp/product/1932394842?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>        
              <!-- Back -->        
              <ul class='hardcover_back'>
                <li></li>
                <li></li>
              </ul>
              <ul class='book_spine'>
                <li></li>
                <li></li>
              </ul>
              <figcaption>
                <h2>Groovy in Action</h2>
                <span>Dierk Koenig, Andrew Glover, Paul King, Guillaume Laforge, and Jon Skeet</span>
                <p>Groovy, the brand-new language for the Java platform, brings to Java many of the features that have made Ruby popular. Groovy in Action is a comprehensive guide to Groovy programming, introducing Java developers to the new dynamic features that Groovy provides. To bring you Groovy in Action, Manning again went to the source by working with a team of expert authors including both members and the Manager of the Groovy Project team. The result is the true definitive guide to the new Groovy language.</p>
              </figcaption>
            </figure> 
            <br><br>
            <h3 class="contentheading">Software Engineering</h3>



            <br><br>
            <figure class='book'>        
              <!-- Front -->        
              <ul class='hardcover_front'>
                <img alt="Mythical Man Month" src="{{site.url}}\assets\images\modedBooks\Mythical-man-month.jpg" width="100%" height="100%">   
              </ul>        
              <!-- Pages -->        
              <ul class='page'>
                <li></li>
                <li>
                  <a class="btn" href="http://www.amazon.com/gp/product/0201835959?tag=wwwjuddsoluti-20"><img alt="Amazon Order Now Button" class="amazonPicture" src="{{site.url}}\assets\images\Amazon-order.png"></a>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>        
              <!-- Back -->        
              <ul class='hardcover_back'>
                <li></li>
                <li></li>
              </ul>
              <ul class='book_spine'>
                <li></li>
                <li></li>
              </ul>
              <figcaption>
                <h2>The Mythical Man-Month</h2>
                <span>Frederic P. Brooks Jr.</span>
                <p>Few books on software project management have been as influential and timeless as The Mythical Man-Month. With a blend of software engineering facts and thought-provoking opinions, Fred Brooks offers insight for anyone managing complex projects. These essays draw from his experience as project manager for the IBM System/360 computer family and then for OS/360, its massive software system. Now, 20 years after the initial publication of his book, Brooks has revisited his original ideas and added new thoughts and advice, both for readers already familiar with his work and for readers discovering it for the first time.</p>
              </figcaption>
            </figure> 
            <br><br>
          </td>
        </tr>
      </table>

      <span class="article_seperator">&nbsp;</span>

      <div class="back_button">
        <a href='javascript:history.go(-1)'>
         [ Back ]</a>
       </div>
     </td>
     <td style="position: relative; right: -1px;" width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">

     </td>
   </tr>
 </table>

 {% include aside_sponsor.html %}

 <br></td>      </tr>
</table></td>
</tr>

{% include footer.html %}

</div>
</div>

</body>
</html>