---
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Central Ohio Java Users Group (COJUG) - Contact</title>
<meta name="description" content="COJUG - Central Ohio Java User's Group" />
<meta name="keywords" content="COJUG, Java, Ohio, User Group" />
<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="http://www.cojug.org/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../www.cojug.org/templates/jt_simplicity_grey/css/template_css.css" />
<link rel="shortcut icon" href="http://www.cojug.org/images/favicon.ico"/>
</head>
<body>
<div align="center"><div style="width:901px;">

 {% include header.html %}

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="21">&nbsp;</td>
	<td align="left"><span class="pathway"><a href="http://www.cojug.org/index.php" class="pathway">Home</a> <img src="http://www.cojug.org/templates/jt_simplicity_grey/images/arrow.png" border="0" alt="arrow" />   Contact Us </span></td>
	
	<td width="21">&nbsp;</td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>  </tr>
</table>
<table width="100%"  border="0" cellspacing="8" cellpadding="0">
  <tr>
    <td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
      <tr valign="top">
        <td width="160">		

        	        {% include side_nav.html %}

				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
						</td>
		</tr>
		</table>
		</td>        <td><div align="center"></div>		<script language="JavaScript" type="text/javascript">
		<!--
		function validate(){
			if ( ( document.emailForm.text.value == "" ) || ( document.emailForm.email.value.search("@") == -1 ) || ( document.emailForm.email.value.search("[.*]" ) == -1 ) ) {
				alert( "Please make sure the form is complete and valid." );
			} else if ( ( document.emailForm.email.value.search(";") != -1 ) || ( document.emailForm.email.value.search(",") != -1 ) || ( document.emailForm.email.value.search(" ") != -1 ) ) {
				alert( "You cannot enter more than one e-mail address." );
			} else {
				document.emailForm.action = "http://www.cojug.org/index.php?option=com_contact&Itemid=3"
				document.emailForm.submit();
			}
		}
		//-->
		</script>
		<script type="text/javascript">
		<!--
		function ViewCrossReference( selSelectObject ){
			var links = new Array();
			
links[1]='http://www.cojug.org/index.php?option=com_contact&task=view&contact_id=1&Itemid=3';
			var sel = selSelectObject.options[selSelectObject.selectedIndex].value
			if (sel != "") {
				location.href = links[sel];
			}
		}
		//-->
		</script>
					<div class="componentheading">
				Contact Us			</div>
			
		<table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpane">
						<tr>
					<td  width="100%">
						<table width="100%">
						<tr>
							<td  width="100%">
							<h3 class="contentheading">	Christopher M. Judd	</h3>						</td>
											
										</tr>
						</table>
					</td>
				</tr>
								<tr>
					<td width="100%">
					Coordinator					<br /><br />
					</td>
				</tr>
						<tr>
			<td width="100%">
				<table width="100%">
				<tr>
					<td>
								<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
					<td rowspan="6" valign="top" width="40" align="left">
					<img src="http://www.cojug.org/images/M_images/con_address.png"  alt="Address: " name="Address: " align="middle" border="0" />					</td>
				</tr>
											<tr>
					<td valign="top">
					Address: 2035 Riverside Dr, Columbus, OH 43221
					</td>
				</tr>
							</table>
			<br />
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
						</table>
			<br />
								</td>
					<td align="right" valign="top">
										</td>
				</tr>
				</table>
			</td>
			<td>&nbsp;</td>
		</tr>
					<tr>
				<td colspan="2">
				<br />
				Send an e-mail to this Contact:				<br /><br />

				<br />
				</td>

			</tr>
		<tr>
			<td>cjudd@manifestcorp.com </td>
		</tr>	
					</table>
					<br>
					<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[ Back ]</a>
			</div>
			</td>
        <td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">
					
			</td>
		</tr>
		</table>
						{% include aside_sponsor.html %}
		<br></td>      </tr>
    </table></td>
  </tr>
</table>
{% include footer.html %}

</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4170336-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html><!-- 1503518869 -->