---
breadcrumb: Contact Us
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
	<div align="center"><div style="width:901px;">

		{% include header.html %}
		{% include nav-breadcrumbs.html %}


		<table width="100%"  border="0" cellspacing="8" cellpadding="0">
			<tr>
				<td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
					<tr valign="top">
						<td width="160">		

							{% include side_nav.html %}

							<table cellpadding="0" cellspacing="0" class="moduletable">
								<tr>
								</tr>
							</table>
						</td>        <td><div align="center"></div>		
						          
          

							<table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpane">
								<tr>
									<td  width="100%">
										<table width="100%">
										<tr>
										
																				<td>
									           <h1 class="contentheading">Contact Us</h1>
									</td>
											
										</tr>


											<tr>
												<td  width="100%">
													<h3>	Christopher M. Judd	</h3>						</td>

												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td width="100%">
											Coordinator					<br /><br />
										</td>
									</tr>
									<tr>
										<td width="100%">
											<table width="100%">
												<tr>
													<td>
														<table width="100%" cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td rowspan="6" valign="top" width="40" align="left">
																	<img src="{{site.baseurl}}/assets/images/con_address.png"  alt="Sapphire" name="Address: " align="middle" border="0" />					</td>
																</tr>
																<tr>
																	<td valign="top">
																		Address: 2035 Riverside Dr, Columbus, OH 43221
																	</td>
																</tr>
															</table>
															<table width="100%" cellpadding="0" cellspacing="0" border="0">
															</table>
															<br />
														</td>
														<td align="right" valign="top">
														</td>
													</tr>
												</table>
											</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td colspan="2">
												<br />
												Send an e-mail to this Contact:				<br /><br />

												<br />
											</td>

										</tr>
										<tr>
											<td>cjudd@gmail.com </td>
										</tr>	
									</table>
									<br>
									<div class="back_button">
										<a href='javascript:history.go(-1)'>
											[ Back ]</a>
										</div>
									</td>
									<td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">

									</td>
								</tr>
							</table>
							{% include aside_sponsor.html %}
							<br></td>      </tr>
						</table></td>
					</tr>
				</table>
				{% include footer.html %}

			</div>
		</div>
	</body>
	</html>