---
breadcrumb: Jobs
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
  <div align="center"><div style="width:901px;">

   {% include header.html %}

   {% include nav-breadcrumbs.html %}

   <table width="100%"  border="0" cellspacing="8" cellpadding="0">
    <tr>
      <td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
        <tr valign="top">
          <td width="160">		

           {% include side_nav.html %}

           <table cellpadding="0" cellspacing="0" class="moduletable">
            <tr>
             <td>

             </td>
           </tr>
         </table>
       </td>        <td><div align="center"></div>	       <table class="contentpaneopen">
              <tr>
        <td width="100%">
         <h1 class="contentheading" > Jobs </h1></td>

        </tr>
        <tr>
      <td valign="top" colspan="2">
        In an effort to assist Java talent and employers  connect, COJUG is offering a free moderated jobs mailing list. COJUG has struggled  since it inception with having members seeking employment and recruiters requesting  names. The mailing list is a compromise that keeps the monthly meetings focused  on relevant Java and related technology topics while still assisting members find  employment.<br /> 

        <h3><a name="jobseekers" title="jobseekers"></a>Job Seekers</h3> <p>Start receiving job and contract postings anonymously via email. Subscribe to the jobs mailing list by filling out the form below.</p> 

        <form action="https://www.freelists.org/cgi-bin/subscription.cgi" method="post"> 
        Enter your email address: <input type="text" name="email"> 
        <input type=hidden name="list" value="cojugjobs-request@freelists.org"> 
        <input type=hidden name="url_or_message" value=""> 
        <select name="action"> 
        <option value="subscribe">Subscribe</option> 
        <option value="unsubscribe">Unsubscribe</option> 
        <option value="help">Get Help</option> 
        </select> 
        <input type=submit value="Go!"> 
        </form> 


        <h3><a name="recruiters" title="recruiters"></a>Recruiters</h3>  <p>Send job and contract postings to <a href="cojugjobs@freelists.org">cojugjobs@freelists.org</a>
       with a job description in the body and an appropriate subject.    Interested talent can respond via email reply or provided contact information.    It is recommend posting include the job title or description in the subject.</p>

      </td>
    </tr>
        </table>

    <span class="article_seperator">&nbsp;</span>

    <table align="center" style="margin-top: 25px;">

    </table>
    <div class="back_button">
      <a href='javascript:history.go(-1)'>
       [ Back ]</a>
     </div>
   </td>
   <td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">

   </td>
 </tr>
</table>
{% include aside_sponsor.html %}

<br></td>      </tr>
</table></td>
</tr>
</table>
{% include footer.html %}

</div>
</div>
</body>
</html>