---
breadcrumb: Mailing-List
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include head.html %}

<body>
<div align="center"><div style="width:901px;">

 {% include header.html %}

 {% include nav-breadcrumbs.html %}

<table width="100%"  border="0" cellspacing="8" cellpadding="0">
  <tr>
    <td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
      <tr valign="top">
        <td width="160">		

        	        {% include side_nav.html %}

				<table cellpadding="0" cellspacing="0" class="moduletable">
				<tr>
			<td>
				
			</td>
		</tr>
		</table>
		</td>        <td><div align="center"></div>	      <table class="contentpaneopen">
      <tr>
                <td class="contentheading" width="100%">
          Mailing Lists                  </td>
              	
				      </tr>
      </table>
      
    <table class="contentpaneopen">
        <tr>
      <td valign="top" colspan="2">
        <p><strong>Announcements </strong></p> <p>If you want to be notified of meetings and orther general annoucements signup for the announcements mailing list by sending an email to the link below.<br /><br />   
 <script language='JavaScript' type='text/javascript'>
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy78795 = '&#97;nn&#111;&#117;nc&#101;m&#101;nts-s&#117;bscr&#105;b&#101;' + '&#64;';
 addy78795 = addy78795 + 'c&#111;j&#117;g' + '&#46;' + '&#111;rg';
 var addy_text78795 = '&#97;nn&#111;&#117;nc&#101;m&#101;nts-s&#117;bscr&#105;b&#101;' + '&#64;' + 'c&#111;j&#117;g' + '&#46;' + '&#111;rg';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy78795 + '\'>' );
 document.write( addy_text78795 );
 document.write( '<\/a>' );
 //-->\n </script><script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script>This e-mail address is being protected from spam bots, you need JavaScript enabled to view it
 <script language='JavaScript' type='text/javascript'>
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></p><p>You can also subscribe to the COJUG Google Calendar to be notified of meetings and events.</p><p><a href="http://www.google.com/calendar/render?cid=mai45g5mct3numc0toovv467kc%40group.calendar.google.com" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button1_en.gif" border="0" alt="" /></a>&nbsp;&nbsp;</p> 


      </td>
    </tr>
        </table>

    <span class="article_seperator">&nbsp;</span>

          <table align="center" style="margin-top: 25px;">
  
      </table>
      			<div class="back_button">
				<a href='javascript:history.go(-1)'>
					[ Back ]</a>
			</div>
			</td>
        <td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">
					
			</td>
		</tr>
		</table>
						{% include aside_sponsor.html %}

		<br></td>      </tr>
    </table></td>
  </tr>
</table>
{% include footer.html %}

</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4170336-2");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html><!-- 1503518336 -->