<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Sponsored Links				</th>
			</tr>
					<tr>
			<td>
				<div style="text-align:center;">


</div>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Upcoming Events				</th>
			</tr>
					<tr>
			<td>

{% assign count = 0 %}			
{% assign curDate = site.time | date: '%s' %}
{% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate >= curDate %}
  		{% assign count = count | plus: 1 %}

    	<a href="{{ post.url | prepend: post.baseurl }}"><p>{{post.date | date: "%a, %b %d" }} - {{post.title}}</p></a>
    {% endif %}
{% endfor %}
    {% if count == 0%}
    	<p>Currently there are no upcoming events - stay tuned!</p>
    {% endif %}

<table cellpadding="4" cellspacing="0" border="0" width="100%">
	</table></td>
		</tr>
		</table>


