<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Sponsored Links				</th>
			</tr>
					<tr>
			<td>
				<div style="text-align:center;">

<script type="text/javascript">
google_ad_client = "pub-2715727337786638";
google_alternate_ad_url = "";
google_ad_width = 120; 
google_ad_height = 240; 
google_ad_format = "120x240_as"; 
google_ad_type = "text_image"; 
google_ad_channel = "cojug"; 
google_color_border = "D5D5D5"; 
google_color_bg = "FFFFFF"; 
google_color_link = "0033FF"; 
google_color_text = "333333"; 
google_color_url = "008000"; 
google_ui_features = "rc:6"; 
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>			</td>
		</tr>
		</table>
				<table cellpadding="0" cellspacing="0" class="moduletable">
					<tr>
				<th valign="top">
					Upcoming Events				</th>
			</tr>
					<tr>
			<td>
{% assign curDate = site.time | date: '%s' %}
{% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate >= curDate %}
    	<a href="{{ post.url | prepend: post.baseurl }}"><p>{{post.date | date: "%a, %b %d" }} - {{post.title}}</p></a>
    {% endif %}
{% endfor %}

<!-- {% for post in site.posts %}
{% capture datenow %}{{'now' | date: '%s'}}{%endcapture %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
<p>The date now: {{datenow}}</p>
<p>The date of post: {{posttime}}</p>


{% if  datenow < posttime %} 
<p>Did this print</p>
<p>{{post.date}} - {{post.title}}</p>
{% endif %}

{% endfor %} -->


<table cellpadding="4" cellspacing="0" border="0" width="100%">
	</table></td>
		</tr>
		</table>


