</table>
<table width="100%"  border="0" cellspacing="8" cellpadding="0">
  <tr>
    <td height="1" background="http://www.cojug.com/templates/jt_simplicity_grey/images/horizontal_dots.png"></td>
  </tr>
  <tr>
    <td align="center"><br><div align="center">
	&copy; 2017 Central Ohio Java Users Group (COJUG)</div>

<div align="center">
Java and all Java-based trademarks and logos are trademarks or registered trademarks of Sun Microsystems, Inc. in the United States and other countries.
<br>
</div>
</td>
  </tr>
</table>
<br>