<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>{% if page.title %}COJUG - {{page.title}} {% else %} {{site.title}}b{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.content | strip_html | strip | truncatewords:85, "..."}} {% else %} {{site.description}} {% endif %}"/>
<meta name="keywords" content="COJUG, Java, Ohio, User Group, Meetup Group, Meetup, Programming Language" />
<meta name="robots" content="index, follow" />

<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/css/template_css.css" />
<link rel="canonical" href="{{site.baseurl}}{{page.url}}">

  <style type="text/css">
	  div.gsc-control-cse{
  	padding-bottom: 1px;
  	margin-top: 11px !important;
  }
</style>

  </head>
