<table cellpadding="0" cellspacing="0" class="asideForBook moduletable">
	<tr>
		<th valign="top">
			Main Menu</th>
		</tr>
		<tr>
			<td>
				
			<table  width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr align="left"><td><a href="{{site.baseurl}}/" class="mainlevel activeNav" >Home</a></td></tr>
					<tr align="left"><td><a href="{{site.baseurl}}/meetings" class="mainlevel activeNav" >Meetings</a></td></tr>
					<tr align="left"><td><a href="{{site.baseurl}}/books" class="mainlevel activeNav" >Recommended Books</a></td></tr>

					<tr align="left"><td><a href="{{site.baseurl}}/sponsors" class="mainlevel activeNav" >Sponsoring</a></td></tr>
					<tr align="left"><td><a href="{{site.baseurl}}/mailing-list" class="mainlevel activeNav" >Mailing list</a></td></tr>

					<tr align="left"><td><a href="{{site.baseurl}}/contactus" class="mainlevel activeNav">Contact Us</a></td></tr>
				</table>			</td>
			</tr>
		</table>