---
breadcrumb: Location
---

<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% include head.html %}

<body>
	<div align="center"><div style="width:901px;">

		{% include header.html %}
		{% include nav-breadcrumbs.html %}

		<table width="100%"  border="0" cellspacing="8" cellpadding="0">
			<tr>
				<td><table width="100%"  border="0" cellspacing="10" cellpadding="0">
					<tr valign="top">
						<td width="160">		

							{% include side_nav.html %}

							<table cellpadding="0" cellspacing="0" class="moduletable">
								<tr>
									<td>

									</td>
								</tr>
							</table>
						</td>        <td><div align="center"></div><div id="eventlist">		<div class="link">
					</div>

					<h2 class="componentheading">Meetings - {{page.Venue}}</h2>

					<table width="100%" border="0" cellspacing="0" cellpadding="4" align="center">
						<tr>
							<td class="details" colspan="1">Venue</td>
							<td colspan="2">{{page.Venue}}</td>
						</tr>
						<tr>
							<td class="details">Homepage: </td>
							<td>
								<a href="{{page.Homepage}}" target="_blank">{{page.Homepage}}</a>
							</td>
							<td rowspan="3">

							</td>
						</tr>
						      <tr>
        <td class="details">Street address </td>
        <td><a href="https://maps.google.com/?q={{page.Street}},{{page.City}},{{page.State}} {{page.ZIP}}">{{page.Street}} {{page.City}} {{State}} {{ZIP}}</a></td>
      </tr>
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
						<tr>
							<td class="sectiontableheader" colspan="3">Location description: </td>
						</tr>
						<tr>
							<td colspan="3">
							{{page.content}}</td>
							</tr>
						</table>

						<br />

						<div class="mapouter"><div class="gmap_canvas"><iframe width="520" height="400" id="gmap_canvas" src="{{page.googleMaps}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>embed google map <a href="http://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{overflow:hidden;height:400px;width:520px;}.gmap_canvas {background:none!important;height:400px;width:520px;}</style></div>
						<div align="center">
							<br />
							<div class="back_button">
								<a href='javascript:history.go(-1)'>[ Back ]</a>
							</div>

						</div>
					</div>	
				</td>
				<td width="160">		<table cellpadding="0" cellspacing="0" class="moduletable">
					
				</td>
			</tr>
		</table>

		{% include aside_sponsor.html %}

		<br></td>      </tr>
	</table></td>
</tr>
</table>
{% include footer.html %}

</div>
</div>
</body>
</html>